@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@theme {
  --animate-slidein: slidein 0.2s ease-out;

  @keyframes slidein {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
